
table,tr{
   border:1px solid rgb(158, 157, 157);
   border-collapse: collapse;
   
}

td,th{
   padding: 20px;
}

table {
      margin: auto;
    width: 80%;
    text-align: center;
    
  }

.product-col{
   display:flex;
   gap:3rem;
   align-items: center;
}


