.cart-bg {
   margin: 0 auto;
   padding: 1.5rem;
   max-width: 56rem;
   box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.cart-bg h1 {
   font-size: 1.5rem;
   line-height: 2rem;
   font-weight: 700;
   margin-bottom: 1rem;
}

.cart-container>*+* {
   margin-top: 1rem;
}

.text-total-price {
   font-size: 1.125rem;
   line-height: 1.75rem;
   font-weight: 600;
}

.cart-item {
   display: flex;
   align-items: center;
   padding: 1rem;
   border-radius: 0.5rem;

}

.item-checkbox {
   margin-right: 1rem;
}

.item-image {
   margin-right: 1rem;
}

.item-info {
   flex-grow: 1;
}

.item-name {
   font-weight: 600;
}



.item-price-manager {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.item-price {
   font-size: 1.125rem;
   line-height: 1.75rem;
   font-weight: 600;
}

.item-quantity {
   border-width: 1px;
   border-radius: 0.25rem;
   padding: 0.25rem;
   width: 4rem;
   margin: 0 0.5rem;
}

.item-quantity button {
   width: 20px;
   height: 20px;
   background-color: white;
   margin: 0 10px;
}

.select-all-box {
   width: 30px;
   margin-left: 0px;
}

.cart-item-summary {
   margin-top: 1.5rem;
   padding: 1rem;
   border-radius: 0.5rem;
}

.delete-item {
   color: red;
   font-size: 1rem;
   cursor: pointer;
}

.btn-container {
   display: flex;
   justify-content: space-between;
   margin-top: 1rem;
}

.continue-shopping-btn, .checkout-btn {
   padding: 0.5rem;
   border-radius: 0.5rem;
}

.checkout-btn {
   color: white;
   background-color: red;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}