.product-detail {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin: 20px auto;
    padding: 30px; 
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 6rem;
  }
  
  .image-container {
    
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 20px;
  }
  
  .product-image {
    width: 100%; 
    max-width: 300px;
  }
  
  .details {
    flex: 2;
    padding-left: 30px; 
    
  }
  
  .product-name {
    font-size: 30px; 
    font-weight: bold;
    margin: 0 0 15px;
  }
  
  .product-price {
    font-size: 26px; 
    color: #000000;
    margin: 15px 0;
  }
  
  .product-description {
    margin: 15px 0;
    line-height: 1.8; 
  }
  
  .stock {
    font-size: 18px; 
    margin: 15px 0;
  }
  
  .add-to-cart {
    background-color: #5cb85c;
    color: white;
    padding: 15px 8px; 
    font-size: 18px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .add-to-cart:hover {
    background-color: #4cae4c;
  }

  .buy{
    background-color: rgb(197, 69, 69);
    color: white;
    padding: 15px 30px; 
    margin-left: 10px;
    font-size: 18px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .buy:hover{
    background-color: #ef1010;
  }


  @media screen and (min-width: 768px) {
    .product-detail {
      display: flex;
      flex-direction: row;
      max-width: 1000px;
      margin-top: 12rem;
  }

  .image-container {
      margin-bottom: 0;
  }

  .details {
      padding-left: 30px;
  }

  .add-to-cart,.buy {
      width: auto;
      margin-bottom: 0;
      font-size: 18px;
  }

  }