.menu {
    background: #E9F8F9;
    display: block;
    position: fixed;
    top: 0;
    width: 75%;
    max-width: 300px;
    height: 100%;
    transform: translateX(-105%);
    transition: 0.25s ease-in-out;
    z-index: 20;
    box-shadow: 1px 1px 10px rgb(134, 133, 133);
}

.menu.visible {
    transform: translateX(0);
}

.close-space {
    position: fixed;
    display: none;
    inset: 0;
    z-index: 10;
}

.close-space.visible {
    display: block;
}

.close-btn {
    border: none;
    background: none;
    font-size: 3rem;
    position: absolute;
    top: 0;
    right: 5px;
    color: rgb(143, 141, 141);
    cursor: pointer;
    transition: 0.2s;
}

.close-btn:hover {
    color: #000;
}

.layer1,
.layer2,
.layer3 {
    margin-bottom: 4px;
    height: 5px;
    width: 24px;
    border-radius: 5px;
    background-color: #C0EEF2;
}

.menu2 {
    margin-top: 3rem;
}

.menu2 h2 {
    margin-left: 10px;
    cursor: pointer;
}

.menu2 .sublink {
    margin-left: 14px;
}

.menu2>li>li {
    padding: 5px 0px 5px 20px;
    list-style-type: none;
}

.menu2>li:hover {
    background-color: rgb(235, 235, 235);
}


a>li:hover {
    background-color: rgb(240, 245, 245);
}

@media screen and (min-width: 768px) {
    .menu2 h2 {
        margin-left: 20px;
        cursor: pointer;
    }

    .menu2 .sublink {
        margin-left: 28px;
    }
}

@media screen and (min-width: 1024px) {
    .menu,
    .burger {
        display: none;
    }



}