.payment-container{
   margin: 10px;
}

.payment-container>.pay{
   background-color: white;
   /* border:1px solid black; */
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   margin: 10px 0 10px 0;
   padding:20px;
}

button{
   padding: 5px;
   background-color: rgb(192, 238, 242);
   border: 1px solid rgb(192, 238, 250);
}

button:hover{
   background-color: rgb(205, 236, 240);
}


.change-address{
   margin-top: 5px;
}

.popup-background{
   position: fixed;
   top:0;
   left:0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.1);
   display: flex;
   align-items: center;
   justify-content: center;
}

.popup-address{
   /* border:1px solid red; */
   width: 70%;
   background-color: white;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   padding: 30px;
   
}

.address{
   border-top: 1px solid black;
   margin-bottom: 10px;
}

.popup-control-but{
   margin-top: 5px;
   display: flex;
   gap:10px;
}

.cancel{
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(177, 174, 174);
}

.cancel:hover{
   background-color: rgb(194, 193, 193);
   
}
