.product-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card {
    background-color: #181823;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.product-card a {
    color: white;
}

product-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

