.profile-content {
    background-color: aliceblue;
}

.user-info {
    display: flex;
    margin: 20px auto;
    border-radius: 5px;
}

.profile-content input {
    border-radius: 5px;
}

.read-only {
    background-color: rgb(170, 169, 169);
    pointer-events: none;
}


