.profile-content {
    background-color: aliceblue;
    text-align: center;
}

.profile-picture{
    margin:10px auto;
}

.upload-pic-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    
}

.profile-content .profile-img-input{
    width:90px;
    border-radius: 0;
    border: 0px;
}

.user-info{
    display: flex;
    margin: 20px auto;
    border-radius: 5px;
    justify-content: space-between;
    /* border:1px solid; */
    width: 80%;
}

.profile-content input {
    width: 60%;
    border-radius: 10px;
    border: 1px solid rgb(138, 138, 138);
}

.user-info textarea{
    width: 60%;
    border-radius: 10px;
}

.change-password-link {
    margin: 20px auto;
    color: blue;
    padding-bottom: 20px;
}

.change-password-link a {
    color: blue;
}

.read-only {
    background-color: rgb(170, 169, 169);
    pointer-events: none;
}

.profile-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-submit{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(171, 228, 233);
    border: 0px;
}

.profile-submit:hover{
    background-color: rgb(172, 208, 211);
}

.success {
    color: rgb(43, 224, 43);
}

.error {
    color: rgb(241, 55, 55);
}

@media screen and (min-width: 768px) {

    .user-info {
        width: 30%;
    }

    
 }