.mobile-searchbar {
    display: flex;
    justify-content: center;
    height: 24px;
    
}

.mobile-bar {
    width: 80%;
    height: 100%;
    border-radius: 20px;
    padding-left: 5px;
}

.mobile-search-btn {
    height: 30px;
    margin-left: 10px;
    border: none;
    outline: none;
    background: none;
}

.desktop-searchbar {
    display: none;
}


@media screen and (min-width: 1024px) {
    .mobile-searchbar {
        display: none;
    }

    .desktop-searchbar {
        display: flex;
        height: 24px;
        margin-right: 0px;
        cursor: pointer;
        border-radius: 20px;
        transition: 0.8s;
        background-color: #fff;
        padding: 5px 20px;
        gap: 10px;
    }

    .desktop-searchbar:hover .desktop-bar,
    .desktop-bar:focus,
    .desktop-bar:not(:placeholder-shown){
        width: 25rem;
    }
    
    .desktop-bar {
        height: 100%;
        width: 0px;
        border: none;
        transition: 0.8s;
        background: transparent;
    }

    .desktop-search-btn {
        height: 30px;
        border: none;
        outline: none;
        background: none;
    }

    
}