* {
  margin: 0;
  padding: 0;
}

nav>div {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

nav {
  background: yellow;
  padding-bottom: 1rem;
  height: 20%;
}

.logo {
  height: 70px;
  object-fit: contain;
}

