:root {
  --navbar-h: 2.5rem;
  --navbar-py: 0.25rem;
  --footer-h: 2.5rem;
  --full-screen: calc(100vh - var(--footer-h));
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #E9F8F9;
}

a {
  text-decoration: none;
}

.desktop-menu {
  display: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: #C0EEF2;
  height: var(--navbar-h);
  padding: var(--navbar-py) 0;
  z-index: 20;
  background: #537FE7;
}

nav > div {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-search {
  text-align: center;
}

.logo-search > h1 {
  border-bottom: 2px solid #C0EEF2;
}

.dropdown, .desktop-menu {
  display: none;
}

.desktop-menu, .dropdown-btn {
  font-size: 1rem;
  font-weight: 700;
  color: #C0EEF2;
}

.right-menu {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

footer {
  text-align: center;
  background-color: #181823;
  height: var(--footer-h);
}

main {
  /* min screen width includes footer height (2.5rem) */
  min-height: var(--full-screen);
  margin-top: calc(var(--navbar-h) + 2 * var(--navbar-py));
  background-color: antiquewhite;
}

li {
  list-style-type: none;
}


.content-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  min-height: var(--full-screen);
  background-color: #C0EEF2;
}

@media screen and (min-width: 1024px) {
  nav > div {
    padding: 0 5rem;
  }
  .logo-search {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .logo-search > h1 {
    flex-basis: 180px;
  }

  .desktop-menu {
    display: block;
  }

  .dropdown {
    display: block;
    position: relative;
  }

  .dropdown-btn {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    background-color: #C0EEF2;
  }

  .dropdown:hover, .dropdown-content:hover {
    .dropdown-content {
      display: flex;
      gap: 20px;
    }
  }

  .content-container {
    width: 80%;
}

}

.show-border {
  border: 1px solid red;
}


